body {
    background-color: #374b82;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* später wieder rausnehmen ggf. */
    gap: 48px; /* später wieder rausnehmen ggf. */
    flex:1;
    padding-top: 32px;  /* später wieder rausnehmen ggf. */
}

.card {
    border: 0px;
    background-color: transparent;
    width: 100%;
}

.col-md-3 {
    background-color: #27355c;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
} 

.col-md-3 img {
    width: 78px;
    align-self: center;
} 

.col-md-3 > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
} 

.col-md-9 {
    background-color: #f7f7f7;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 16px;
}

.button-start {
    background-color: #ff4e10;
    border: 0;
    color:#f8f9fa;
    align-self: flex-end;
}

.button-start:hover {
    background-color: #ff6d10;
    border: 0;
    color:#f8f9fa;
}

.buttons-navigation {
    position: relative;
    bottom: -8px;
    display: flex;
    justify-content: flex-end;
}

.buttons-navigation .btn {
    border-radius: 50%;
}

.img-result {
    width: 100px;
    height: auto;
    align-self: center;
}

.quiz-answer-card {
    background-color: var(--bs-white);
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: #0d6dfda1;
    color: var(--bs-white);
}

.question-correct {
    background-color: #4dbf19 !important;
    color: var(--bs-white);
}

.question-false {
    background-color: #f91818 !important;
    color: var(--bs-white);
}

/* colors */
/* sidebar quizcard: #27355c */
/* trophy: #1f475e */
/* white:  #f8f9fa*/