body {
    background-color: #374b82;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* später wieder rausnehmen ggf. */
    flex:1;
}

.card {
    border: 0px;
    background-color: blueviolet;
    /* overflow: hidden; */
    width: 100%;
}

.col-md-3 {
    /* background-color: #27355c; */
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
    --bs-card-border-radius: var(--bs-border-radius);
} 

.col-md-3 img {
    width: 78px;
    align-self: center;
} 

.col-md-3 > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
} 

.col-md-9 {
    background-color: #f7f7f7;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 16px;
}

.button-start {
    background-color: #ff4e10;
    border: 0;
    color:#f8f9fa;
    align-self: flex-end;
}

.button-start:hover {
    background-color: #ff6d10;
    border: 0;
    color:#f8f9fa;
}

.buttons-navigation {
    position: relative;
    bottom: 2px;
}


/* colors */
/* sidebar quizcard: #27355c */
/* trophy: #1f475e */
/* white:  #f8f9fa*/